.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

/* 🔥 grille 2x2 */
.nav-grid {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 30px 30px;
}

.nav-photo,
.nav-music {
  font-family: var(--font-title);
  font-weight: 500; /* normal = medium */
  font-size: 28px;
  color: #111;
  text-decoration: none;
}

/* 🔥 état actif */
.nav-photo.active,
.nav-music.active {
  font-weight: 700; /* semi-bold */
}

/* PHOTO : case haut gauche → aligné droite */
.nav-photo {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;/* 🔥 collé à droite de sa case */
}

/* MUSIQUE : case bas droite → aligné gauche */
.nav-music {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  transform: translateY(-10px);   /* 🔥 collé à gauche de sa case */
}