.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  //border: 3px solid blue;
}

.nav-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  align-items: center;
  //border: 3px solid red;
}

.nav-grid::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5px;
  height: 50px;
  background-color: #000;
}

.nav-photo,
.nav-music {
  position: relative;
  font-family: var(--font-title);
  letter-spacing: 0em;
  font-size: 28px;
  color: #000;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 400;
  //border: 3px solid green;
}

/* Align first column item to the right and second to the left */
.nav-photo {
  justify-self: end;
  padding-right: 8px;
}

.nav-music {
  justify-self: start;
  padding-left: 8px;
}

.nav-photo.active,
.nav-music.active {
  opacity: 1;
  font-weight: 500;
}


