
.album-title-page {
  font-family: var(--font-title);
  font-size: 16px;
  font-weight: 500;
  color: #111;
  padding-left: 2px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 1fr));
  gap: 6px;

  grid-auto-flow: dense;

  max-width: 1100px;   /* 💥 limite largeur */
  margin: 0 auto;      /* 💥 centre horizontalement */
  padding: 0 20px;     /* 💥 marges internes */
}

.img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.img-wrapper.landscape {
  grid-column: span 2;

  display: flex;
  align-items: center;   /* 💥 centrage vertical */
  justify-content: center;
}

.img-wrapper.portrait {
  grid-column: span 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;

  width: 80vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}