.portfolio {
  display: flex;
  justify-content: center;

  height: calc(100vh - 80px);
  padding-top: 80px; /* important pour alignement navbar */
  box-sizing: border-box;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;

  gap: 4px; /* contrôle espacement vertical */
}

.column.left {
  padding-left: 10px;
  text-align: left;
}

.column.right {
  padding-right: 10px;
  text-align: right;
}

.album-title {
  font-family: var(--font-body);
  font-size: 14px;
  text-decoration: none;
  color: #111;

  display: inline-block;
  cursor: pointer;
}

.album-title:hover {
  text-decoration: line-through;
}

.album-item {
  display: block;
  margin: 0;
  padding: 0;
}

.global-preview {
  position: fixed;

  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  z-index: 999;
}

.global-preview img {
  width: 100%;
  height: auto;
  object-fit: contain;

  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.global-preview img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}